<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Ingredientes</h3>
        {{!-- Uso de nomenclatura BEM (B de bloque, E de elemento y M de modificador)--}}
        <div class="ingredients">
            <div class="ingredients__box">
                <ul class="ingredients__box__list">
                    {{#each ingredients}}
                        <li class="ingredients__box__list__item">Id: {{this.id}} - Nombre: {{this.title}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
</main>