* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: brown;
}

.error404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404 img {
    width: 400px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 600px;
}

.ingredients__box {
    height: 255px;
    width: 600px;
    border: 1px solid black;
}

.ingredients__box__list {
    list-style-position: inside;
    padding: 0;
    margin: 0.25rem;
}

.ingredients__box__list__item {
    display: flex;
    gap: 10px;
    height: 25px;
}

.ingredients__box__list__item__text {
    width: 480px;

    /* Implementación de Ellipsis (...) */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ingredients__pagination {
    display: flex;
    gap: 10px;
}

.ingredients__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 600px;
}

.ingredients__delete {
    display: flex;
    gap: 0.5rem;
    width: 600px;
}

.ingredients__delete__input {
    width: 100%;
}

.error-message {
    color: brown;
}