<div class="error404">
    <h1>Error 404</h1>
    <h3>El recurso proporcionado no existe en este servidor</h3>
    <img src="/api/public/images/error404.jpg" alt="Imagen que representa el error 404">
</div>