* {
    box-sizing: border-box;
}

h1 {
    color: brown;
}

.error404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404 img {
    width: 400px;
}